.computerWrapper {
  background-color: white;
  padding-right: 2em;
  padding-left: 2em;
  width: 95vw;
}

.computerWrapper .stickyTitle {
  padding-top: 1.5em;
  background-color: white;
  height: 8em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.computerWrapper .stickyTitle h1 {
  padding-bottom: 1.5em;
}

.computerWrapper h2 {
  background-color: white;
}

.skills {
  padding-top: 3em;
}

.skills h2 {
  display: inline-block;
  margin-right: 5px;
}

.listWrapper {
  margin-top: 5em;
  margin-bottom: 5em;
  padding-right: 1em;
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.listWrapper li {
  list-style: circle;
}

.projectWrapper {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text {
  width: 50%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text p {
  margin-top: 20vh;
  background-color: white;
  text-align: justify;
}

.snapshot {
  height: 50vh;
  width: 40%;
  border: 1em solid white;
  background-color: white;
}

.snapOne {
  background-image: url("../../assets/goddesses.png");
  background-size: cover;
  background-position: center;
}

.snapTwo {
  background-image: url("../../assets/wuForever.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.snapThree {
  background-image: url("../../assets/tipcal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.snapFour {
  background-image: url("../../assets/sweet.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.stacking {
  height: 5.5vh;
  padding-bottom: 1em;
  width: 40vw;
}

.title1 {
  position: -webkit-sticky;
  position: sticky;
  top: 3em;
}

.title2 {
  position: -webkit-sticky;
  position: sticky;
  top: 4.5em;
}

.title3 {
  position: -webkit-sticky;
  position: sticky;
  top: 6em;
}

.title4 {
  position: -webkit-sticky;
  position: sticky;
  top: 7.5em;
}

@media screen and (max-width: 850px) {
  .stacking {
    width: 100%;
  }
  .contentWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text {
    width: 80%;
  }
  .snapshot {
    width: 80%;
    margin-bottom: 2em;
  }
  .snapOne, .snapTwo, .snapThree, .snapFour {
    position: static;
  }
}
/*# sourceMappingURL=Computer.css.map */