.computerWrapper {
    
    background-color: white;
    padding:2em;
    h2{
        background-color: white;
    }
}

.projectWrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

// .projectIntro {
//     
//     display: flex;
//     flex-direction: column;
//     margin-top: 1em;
//     gap:1em;
//     text-align: justify;
.quote {
        background-color: lightgray;
        border-radius: 5px;
        padding: 1em;
        width:85%;
        margin: 0 auto;
    
        a{  
        color: #0e9aa4;
        text-decoration: none;
        &:hover {
            color: rgb(218, 79, 218);
        }
    }
}


.stickyTitle{
    padding-top: 1.5em;
    background-color: white;
    height: 4em;
    position: sticky;
    top: 0;
    width:100%
}
.contentWrapper {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5em;
    margin-top: 2em;
}


 .text {
    width: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:2em;
    
    a{  
        color: #0e9aa4;
        text-decoration: none;
        &:hover {
            color: rgb(218, 79, 218);
        }
    }
    p{
        
        background-color: white;
        text-align: justify;
    }
 }
.snapshot {
    height: 50vh;
    width: 40%;
    border: 1em solid white;
    background-color: white;
    z-index: 1;
}

.snapPre {
    background-image: url('../../assets/snappyBdcpm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.snapOne {
    background-image: url('../../assets/goddesses.png');
    background-size: cover;
    background-position: center; 
}

.snapTwo {
    background-image: url('../../assets/wuForever.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.snapThree {
    background-image: url('../../assets/tipcal.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.snapFour {
    background-image: url('../../assets/sweet.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   
}

.stacking{
    margin-top: 1em;
    height:2.5em;
    width: 100%;

    &:hover{
        text-decoration: underline;
        color: rgb(218, 79, 218);
    }
}

.active {
    text-decoration: underline;
    color: rgb(218, 79, 218);
}

.bottomLink{
    margin-top: 5em;
    align-self: center;
}


#title1{
    position: sticky;
    top:3em;
}

#title2{
    position: sticky;
    top:4.5em;
}

#title3{
    position: sticky;
    top:6em;
}

#title4{
    
    position: sticky;
    top:7.5em;
}


@media screen and (max-width: 850px){
    .stickyTitle{
        width:100%;
    }
    .stacking {
        // 
        height: 1.65em;
        margin-bottom: 1em;
    }
    .contentWrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }
    .text {
        width: 80%;
    }
    .snapshot {
        width:80%;
        z-index: auto;
    }
    .bottomLink{
        margin-top: 1em;
    }
    
}

@media screen and (max-width: 650px){
    .snapshot {
        width:100%;
        z-index: auto;
    }
}