.computerWrapper {
    //border: 2px solid fuchsia;
    background-color: white;
    padding:2em;
    h2{
        background-color: white;
    }
}

.projectWrapper {
    //border: 1px solid aqua;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.stickyTitle{
    padding-top: 1.5em;
    background-color: white;
    height: 4em;
    position: sticky;
    top: 0;
    width:50%
}
.contentWrapper {
    //border: 1px solid fuchsia;
    display: flex;
    //height: 80vh;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}


 .text {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:2em;
    
    p{
        
        background-color: white;
        text-align: justify;
        //border:1px solid aqua;
    }
 }
.snapshot {
    height: 50vh;
    width: 40%;
    border: 1em solid white;
    background-color: white;
}

.snapOne {
    background-image: url('../../assets/goddesses.png');
    background-size: cover;
    background-position: center;
    // position: sticky;
    // top: 10vh;
}

.snapTwo {
    background-image: url('../../assets/wuForever.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // position: sticky;
    // top: 10vh;
}

.snapThree {
    background-image: url('../../assets/tipcal.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // position: sticky;
    // top: 10vh;
}
.snapFour {
    background-image: url('../../assets/sweet.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // position: sticky;
    // top: 10vh;
}

.stacking{
    //border: 2px solid orange;
    margin-top: 1em;
    height:2.5em;
    // height: 5.5vh;
    //padding-bottom: 1em;
    width: 50%;
}

.active {
    color:#CD6479;
    text-decoration: underline;
}

.inactive {
    color: grey;
}


#title1{
    position: sticky;
    top:3em;
}

#title2{
    position: sticky;
    top:4.5em;
}

#title3{
    position: sticky;
    top:6em;
}

#title4{
    
    position: sticky;
    top:7.5em;
}


@media screen and (max-width: 850px){
    .stickyTitle{
        width:100%;
    }
    .stacking {
        width: 100%;
    }
    .contentWrapper {
        flex-direction: column;
        align-items: center;
    }
    .text {
        width: 80%;
    }
    .snapshot {
        width:80%;
        margin-bottom: 2em;
    }
    
}