.computerWrapper {
    //border: 2px solid fuchsia;
    background-color: white;
    padding-right: 2em;
    padding-left: 2em;
    //width:95vw;

    .stickyTitle{
        padding-top: 1.5em;
        background-color: white;
        height: 12.5vh;
        position: sticky;
        top: 0;
        
        h1{
            padding-bottom: 1em;
        }
    }

    h2{
        background-color: white;
        //width:50%;
    }
}

.social {
    padding-top: 20vh;
}

.digital {
    padding-top:1em;
}

.listWrapper {
    //border: 1px solid fuchsia;
    height: 10vh;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
        
            li {
                list-style:circle;
                text-align:justify;
            }
        
}

.projectWrapper {
    //border: 1px solid aqua;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.contentWrapper {
    
    display: flex;
    height: 80vh;
    justify-content: space-between;
}


 .text {
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    
    p{
        margin-top: 20vh;
        background-color: white;
        text-align: justify;
    }
 }
.snapshot {
    height: 50vh;
    width: 40%;
    // min-width: 250px;
    // min-height: 180px;
    border: 1em solid white;
    background-color: white;
    //box-sizing: border-box;
}

.snapOne {
    background-image: url('../../assets/goddesses.png');
    background-size: cover;
    background-position: center;
    // position: sticky;
    // top: 10vh;
}

.snapTwo {
    background-image: url('../../assets/wuForever.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // position: sticky;
    // top: 10vh;
}

.snapThree {
    background-image: url('../../assets/tipcal.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // position: sticky;
    // top: 10vh;
}
.snapFour {
    background-image: url('../../assets/sweet.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // position: sticky;
    // top: 10vh;
}

.stacking{
    //border: 2px solid orange;
    height: 5.5vh;
    padding-bottom: 1em;
    width: 40vw;
}


.title1{
    position: sticky;
    top:3em;
}

.title2{
    position: sticky;
    top:4.5em;
}

.title3{
    position: sticky;
    top:6em;
}

.title4{
    
    position: sticky;
    top:7.5em;
}


@media screen and (max-width: 850px){
    .stacking {
        width: 100%;
    }
    .contentWrapper {
        flex-direction: column;
        align-items: center;
    }
    .text {
        width: 80%;
    }
    .snapshot {
        width:80%;
        margin-bottom: 2em;
    }
    
}