$hbpink:#CD6479;
$hbaqua: #41B2BA;

.aboutWrapper {
    height: 200vh;
    width: 100%;
    background-image: url('../../assets//redo.png');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    scroll-snap-align: start;
}

.summary {
    margin-top: 90vh;
    //margin-bottom: 10em;
    padding: 2em;
    text-align: justify;
    width:50%;
    background-color: rgba(0, 0, 0, 0.902);
    position: sticky;
    top: 20vh;
    z-index: 1;
    color: whitesmoke;

    p{
        margin-top: .5em;
        margin-bottom: .5em;
    }

    h4{
        text-align: center;
    }
}

