$hbpink:#CD6479;
$hbaqua: #41B2BA;

.aboutWrapper {
    height: 200vh;
    width: 100%;
    background-image: url('../../assets/arturo-castaneyra-7laIG_Xv5FI-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    margin-top: 90vh;
    margin-bottom: 10em;
    padding: 2em;
    height: 60vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.887);
    position: sticky;
    top: 20vh;
    z-index: 1;
}

.skillWrapper {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    z-index: 2;
    //border: 1px solid fuchsia;
    position: sticky;
    top: 55vh;
    margin-bottom: 17em;
    div {
        height: 10vh;
        width: 30vw;
        border: 1px solid $hbaqua;
        position: sticky;
        top: 45vh;
    }
}