$hbpink:#CD6479;
$hbaqua: #41B2BA;


.menu {
    position: fixed;
    display: flex;
    gap: .5em;
    flex-direction: column;
    align-items:flex-end;
    top: 1em;
    right: 10vw;
    width: 90px;
    overflow: visible;
    z-index: 2;

    .burger {
        justify-self: right;
        margin-right: .5em;
    }
}

.show {
    margin-top: 1em;
    

    li {
       
        margin: .5em;
        display: inline;
        text-align: left;
        background-color: #41B2BA;
        list-style: none;
        border: 2px solid lightgray;
        border-radius: 5px;
        padding:.5em;
        
                &:hover{
                    
                    transform: scale(1.15);
                    -webkit-box-shadow: 1px 5px 4px -1px rgba(0,0,0,0.46); 
                    box-shadow: 1px 5px 4px -1px rgba(0,0,0,0.46);
                }

            a {
                color: $hbaqua;
                text-decoration: none;
            }
    }
}

.hide {
    visibility: hidden;
    
}

.burger {
    color: #41B2BA;
    padding-left: .25em;
    font-size: 1.5rem;
}

.flexContainer{
    height: 100vh;
    margin-bottom: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cardWrapper {
    height: 70vh;
    width:50%;
    background-image: url('../../assets/webDevCard2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;    
}


@media screen and (max-width: 1600px){
    .skillsWrapper {
        width:50%;
    }
}

@media screen and (max-width: 1200px){
    .skillsWrapper {
        width:70%;
    }
}

@media screen and (max-width: 620px) {
    .skillsWrapper {
        width:100%;
    }
    .skillsColl1 {
        font-size: 4em;
    }

    .show{
        display:block;
        li{
            display: inherit;
        }
    }
}