$hbpink:#CD6479;
$hbaqua: #41B2BA;


.menu {
    //border:1px solid fuchsia;
    position: fixed;
    display: flex;
    gap: .5em;
    flex-direction: column;
    align-items:center;
    top: 1em;
    right: 10vw;
    width: 90px;
    overflow: visible;
    z-index: 2;

    .burger {
        justify-self: right;
    }
}

.show {
    margin-top: 1em;
    // visibility: visible;
    // opacity: 1;
    // transition: visibility 0s linear 0s, opacity 300ms;

    li {
        //border: 1px solid red;
        margin: .5em;
        display: inline;
        text-align: left;
        background-color: #41B2BA;
        list-style: none;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        //height:1.5em;
        padding:.5em;
        
                &:hover{
                    
                    transform: scale(1.15);
                    -webkit-box-shadow: 1px 5px 4px -1px rgba(0,0,0,0.46); 
                    box-shadow: 1px 5px 4px -1px rgba(0,0,0,0.46);
                }

            a {
                color: $hbaqua;
                text-decoration: none;
            }
    }
}

.hide {
    visibility: hidden;
    
}

.burger {
    color: #41B2BA;
    padding-left: .25em;
    font-size: 1.5rem;
}

.flexContainer{
    height: 100vh;
    margin-bottom: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    // scroll-behavior: smooth;
}

.skillsWrapper {
    //max-width: 1200px;
    width: 75%;
    display: flex;
    justify-content: space-between;

    :first-child{
        //margin-top: 110vh;
        text-align: center;
    }

    :last-child{
        //margin-top: 155vh;    
        text-align: center;
    }
}

.skillsColl1 {
    height: 100px;
    width: 10vw;
    min-width: 150px;
    font-size: 5em;
    position: sticky;
    top:40vh;
}

.prettyWords{
    // border: 1px solid fuchsia;
    margin-top: 20vh;
    height: 50vh;
    width: 25%;
    margin-left: 5px;
    box-sizing: border-box;
    background-image: url('../../assets/softerEdge.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: -1;
    
}

@media screen and (max-width: 1600px){
    .skillsWrapper {
        width:50%;
    }
}

@media screen and (max-width: 1200px){
    .skillsWrapper {
        width:70%;
    }
}

@media screen and (max-width: 620px) {
    .skillsWrapper {
        width:100%;
    }
    .skillsColl1 {
        font-size: 4em;
    }
}