.contactWrapper {
    min-height: 100vh;
    background-color: #5667b1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactTitle {
    margin-top: 1.5em;
    margin-bottom: 1em;
    width:80%;
}

.justify {
    width:80%;
    margin-top: 2em;
    margin-bottom: 5em;
}

.contactIconWrapper {
    width: 20%;
    a {
        text-decoration: none;
        color: inherit;
        width:200px;
    }
}

.iconContext {
    color: #41B2BA;
    font-size: 1.25em;
    &:hover{
        color: salmon;
    }
}

.contactIconic {
    height: 35px;
    width:200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
    p{
        display: inline-block;
    }
}

form {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.formWrapper {
    width: 80%;
    p{
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    input {
        outline: none;
        border: none;
    }
    
    button {
        width: 150px;
        border-radius: 4px;
        margin-bottom: 2em;
        background-color: #41B2BA;
        outline: salmon;
        border: none;
        &:hover {
            background-color: salmon;
        }
    }
}

.small {
    
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    
    
    
    input{
        width:49%;
        height: 2em;
        padding: .25em;
        border-radius: 5px;
        outline: 2px solid #41B2BA;
    }
}
textarea {
    width:100%;
    padding: .25em;
    border-radius: 5px;
    box-sizing: border-box;
    outline: 2px solid #41B2BA;
}

@media screen and (max-width: 700px){
    .small {
        flex-direction: column;
        input {
            width: 100%;
            box-sizing: border-box;
        }
    }
}

// @media screen and (max-width: 500px){
//     .small{
//         width: 80%;
//     }
//     textarea {
//         width: 80%;
//     }
// }