* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;

    // $hbpink:#CD6479;
    // $hbaqua: #41B2BA;
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');

@font-face {
    font-family: HaarlemDeco;
    src: url("../assets/fonts/HaarlemDeco.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Halosense;
    src: url("../assets/fonts/Halosense/Halosense-Regular.otf");
    font-weight: normal;
}

.appWrapper{
    display: flex;
    justify-content: center;
}

.happyAppy {
    max-width: 1600px;
    min-width: 100%;
    border:2px solid greenyellow;
    position: relative;
}

// @media screen and (min-width:400px){
//     .happyAppy {
//         width: 100%;
//     }
    
// }